input:checked + span{	
	color: blue;
}
.all>input:checked + span{	
	color:red;
}
.buttom {
	border: 1px solid grey;
	width: 100%;
	border-radius: 3px;
	height: 35px;
	font-family: 'Roboto Condensed';
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.buttom:hover {
	border: 1px solid #fff;
	color: #fff;
}
.buttom1-1{
	border: 1px solid grey;
	width: 100%;
	border-radius: 3px;
	height: 35px;
	font-family: 'Roboto Condensed';
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}
.buttom1-2{
	margin-bottom: 10px;
	border: 1px solid grey;
	width: 100px;
	border-radius: 3px;
	height: 35px;
	font-family: 'Roboto Condensed';
	background: rgba(0, 0, 0, 0.8);
	color: #fff;

}
.buttom1-1:hover {
	
	color: #fff;
	border: 1px solid #fff;
}
.buttom1-2:hover {

	color: #fff;
	border: 1px solid #fff;
}
.buttom2 {
	margin-bottom: 10px;
	border: 1px solid grey;
	width: 100px;
	border-radius: 3px;
	height: 35px;
	font-family: 'Roboto Condensed';
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}
.buttom3 {
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid grey;
	width: 300px;
	border-radius: 3px;
	height: 35px;
	font-family: 'Roboto Condensed';
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}
.buttom4 {
	text-decoration: none;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid grey;
	width: 300px;
	border-radius: 3px;
	height: 35px;
	font-family: 'Roboto Condensed';
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 3px 10px 3px 10px;
}
.buttom4:hover {
	text-decoration: none;
	list-style:none;
	color: #000;
}
.buttom2:hover {
	border: 1px solid #fff;
	color: #fff;
}
.bodyfon {
	background: rgba(0, 0, 0, 0.8);	
}
.boxkor {
	font-family: 'Roboto Condensed';
	padding-top: 5px;
	height: 50px;
	color: #fff;
	border: 1px solid #fff;
}
.bodykor {
	background: #fff;
	padding-top: 15px;
}
.exit {
	border: none;
	background: rgba(0, 0, 0, 0);
	color: #fff;
	margin-top: 14px;
}
.exit:hover {
	border: none;
	background: rgba(0, 0, 0, 0);
	color: #fff;
}
.eror {
	color: #fff;
	font-family: 'Roboto Condensed';
}
.navbar-inverse .navbar-nav>li>a.user {
	color: #fff;
}
.mobile>img {
	width: 40%;
}

.mobile>.caption h3 {
	font-size: 1.5em;
	
}
.mobile>.caption p {
	color: #fff;
	font-family: 'Roboto Condensed';
}
.mobile>.caption h3{
	font-family: 'Roboto Condensed';
	color: #fff;
	width: 100%;
	text-align: center;
}
.mobiles>.caption2 h3 {
	font-size: 1.5em;
}
.mobiles>.caption p {
	color: #000;
	font-family: 'Roboto Condensed';
}
.mobiles>.caption2 h3, p {
	font-family: 'Roboto Condensed';
	color: #000;
	width: 100%;
	text-align: center;
}
.more a {	
	color: rgba(255, 255, 255, 0.7);
}
.more a:hover,.more a:focus {
	color: #fff;
}

.logo {
	font-family: 'Code';
	font-weight: 600; 
	color: #fff;
	margin-right: 100px;
}
.logos {
	font-family: 'Code';
	font-weight: 600; 
	color: #fff;
	margin-right: 0px;
}
.logo:hover {
	color: grey;
	font-family: 'Code';
}
.votes {
	margin-top: 100px;	
	height: 100%;
	margin-bottom: 150px;
}
.vsego {
	font-family: 'Roboto Condensed';
	color: #fff;
}
.panel.panel-default>.panel-heading.box {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}


.panel-heading>h4 {
	font-family: 'Roboto Condensed';
}
.panel-body>label {
	margin: 10px;
}
.panel-body>label>span {
	font-family: 'Roboto Condensed';
	margin-left: 5px;
}

.cart {
	font-size: 20px;
	
}
.modal-content>.modal-header.box {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}
.modal-header.box>.close {
	color: #fff;
}
.modal-header>h4 {
	font-family: 'Roboto Condensed';
}
.kor {
	font-family: 'Roboto Condensed';
}
.text {
	color: #000;
}
#avt>input {
	width: 100%;
	margin-bottom: 5px;
}
#avt>label.checkbox {
	margin-left: 30%;
}
#myModal>.modal-dialog {
	width: 300px;
}
#foote {
	position: fixed;
	bottom: 0;
	border-top: 1px solid #000;
	width: 100%;
	height: 25px;
	background: #222222;
}
#foote>.container {
	width: 100%;
	padding-top: 2.5px;
	
}
.foote {
	padding-top: 5px;
	font-family: 'Roboto Condensed';
	color: grey;
}
.upload {
	width: 20%;
	margin-bottom: 70px;
}

/* monitors and laptops */
@media screen and (min-width: 1241px) and (max-width: 1440px){


}
/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px)  {



}
@media screen and (min-width: 768px) and (max-width: 1024px) {



}
/* mobile */
@media screen and (max-width: 768px) {
.mobiles {
	margin-bottom: 50px;
}
.img2 {
	width: 25%;
}
.logo {
	font-family: 'Code';
	font-weight: 600; 
	color: #fff;
	margin-right:0px;
}
}
